
<div class="container1">
    <div class="title">
        <h1 id="title">HOTEL BOOKING</h1>
    </div>
    <div class="sub">
        <!-- <ul>
            <li><a routerLink="/home">home</a></li>
            <li><a routerLink="/login">login</a></li>
            <li><a routerLink="/menu">menu</a></li>
            <li><a routerLink="about">about</a></li>
        </ul> -->
        <!-- <button><a routerLink="/about">ABOUT</a></button> -->
        <!-- <button><a routerLink="/menu">MENU</a></button> -->
        <!-- <button><a routerLink="/home">HOME</a></button> -->
        <button ><a routerLink="/login">SEARCH</a></button>
        <!-- <button><a routerLink="/">home</a></button>
        <button routerLink="/login"> Login</button>
        <button><a routerLink="/menu">menu</a></button>
        <button><a routerLink="/about">about</a></button> -->
    
        
    </div>  
    
    <div class="imag">
        
        <div class="img1"><img id="img02" src="./assets/image/d.jpg" alt="" ></div>

        <div class="img3"><img id="img01" src="./assets/image/hotel-2-1088x725.jpg" alt=""></div>
        
        <div class="img2"><img id="img03" src="./assets/image/c.jpg" alt="" ></div>
    
        <!-- <div class="form">
            lname<input type="text" ><br>
            fname<input type="text"><br>
            email<input type="text"><br>
            typeRoom<input type="text"><br>
            <input type="submit" value="saveaRecord">
        </div> -->
    </div>
    <div class="maq">
        <marquee behavior="" direction="left"></marquee>
        <h1 id="tit">ZANZIBAR HAKUNA MATATA  KARIBUNI SANAA</h1>
    </div>

    <div class="g">
        <marquee id="dd">
        <img src="./assets/image/tt.jpg" alt="">
        <img src="./assets/image/city.jpg" alt="">
        <img src="./assets/image/t.jpg" alt="">
        <!-- <img id="a" src="./assets/image/al amin.jpg" alt=""> -->

    
    </marquee>
    </div>
  
    <div class="cop">
        <p id="mm"><i>@copiytomwinyi</i></p>
    </div>
    
    
</div>




