<div class="c">
    <div class="about">
        <h1>Mission</h1>
        <p><b><i>The mission of the Hotel Grand is to put hospitality services on the highest level in
            order to satisfy the demands and expectations of guests.
             Our aim is to make the Hotel Grand a place for encounters, 
           business success, pleasant meetings and gala ceremonies.
           </i></b>

            
              </p>
    </div>
    <div stclass="v">
        <h1 id="vv">Vision</h1>
        <p ><i id="i">The ideology of our vision is to continue to apply and set the highest standards
            of service quality and in that way justify and uphold the reputation that we have
             among the guests, partners, competitors and the wider community. We use and constantly
              introduce environmentally friendly technologies and processes in order to remain in balance
               with nature and also meet the needs of contemporary society.Tradition is a testament to our 
               success but in the future we also want to embrace the changes that modern time brings and 
               become more attractive in the market and more interesting to our guests and partners.</i>

            </p>
    </div>
    

  

    
</div>

