.c{
    background-color: gold;
    display: grid;
    margin-top: 150px;
    border-radius: 45px 45px 45px 45px;
    
}
.about{
    display: grid;
    text-align: center;
    background-color:wheat;
}
.image{
    display: flex;
}
img{
    display: flex;
    width: 675px;
    height: 300px;
}
#vv{
    display: grid;
    text-align: center;
}
