

<div class="login">
    <div class="form">
    
    <form class="ff">
        <table >
            <tr>
                <td>username :</td>
                <td><input type="text" placeholder="username" name=""></td>
            </tr>
            <tr>
                <td>
                    Password  :
                </td>
                <td><input type="password" placeholder="password" name=""></td>
            </tr>
            
            <tr>
                <!-- <td>
                    Email  :
                </td>
                <td><input type="mail" placeholder="Email" name=""></td>
            </tr>
            <tr>
                <td>
                    <select name="" id="">
                        <option>+255</option>
                        <option>+155</option>
                        <option>+29</option>
                        <option>+144</option>
                        <option>+193</option>
                        <option>+110</option>
                        <option>+19</option>
                        <option>+28</option>
                        <option>+790</option>
                        <option>+467</option>
                        <option>+890</option>
                        <option>+357</option>
                        <option>+689</option>
                        <option>+653</option>
                    </select>
                    <input type="Phone" placeholder="578****" name="">
                </td>
                
            </tr> -->
            <!-- <tr>
                <td>Gender  :</td>
                <td><input type="radio" name="Gender">Male</td>
                <td><input type="radio" name="Gender">Female</td>
            </tr> -->
            <tr>
                <td>
                    <button class="button"><a routerLink="/menu">login</a></button>
                </td>
            </tr>
            <p>forgot password!:<a routerLink="/form">creat new account</a></p>
        </table>
    </form>
</div>

</div>