<div  class="form" >
    <div class="regform"><h1>Registration Form</h1></div>
    <div class="main">
        <form action="">
            <div class="name">
                <h2 class="name">Firstname</h2>
                <input class="firstname" type="text" placeholder="firstname" name="first_name"><br>
                <h2 class="name">Lastname</h2>
                <input class="lastname" type="text" placeholder="lastname" name="last_name"><br>
                
            </div>
            <h2 class="name">Address</h2>
            <input class="address" type="text" placeholder="Address" name="address">
            <h2 class="name">Email</h2>
            <input class="email" type="text" placeholder="Enter email" name="email">
            <h2 class="name">Phone</h2>
         
            <input class="number" type="text" placeholder="phone number" name="phone"><br>
            
           
        
       
        <button type="submit"><a routerLink="/menu">Register</a></button>
        </form>
    </div>
    
</div>
